html{margin:0;height:100%;}
body{margin:0px;padding:0px;height:100%;background-color:#d7d7d7;background-image:url(../gui/bg.png);background-repeat:repeat-y;background-position:top;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:12px;color:#222222;line-height:19px;text-decoration:none;}
img{border:0px;display:block}
form{margin:0px;padding:0px;}
h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:28px;line-height:28px;color:#212121;}
h2{margin:0px;padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#212121;}
h3{margin:0px;padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:16px;line-height:16px;color:#212121;}
a:link{color:#2390b5;text-decoration:none;}
a:visited{color:#2390b5;text-decoration:none;}
a:active{color:#2390b5;text-decoration:none;}
a:hover{color:#2390b5;text-decoration:underline;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.mb2{margin-bottom:2px;}
.pt2{padding-top:2px;}
.mb4{margin-bottom:4px;}
.pt4{padding-top:4px;}
.mb5{margin-bottom:5px !important;}
.mt5{margin-top:5px !important;}
.pt5{padding-top:5px !important;}
.pb10{padding-bottom:10px !important;}
.mb10{margin-bottom:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mb20{margin-bottom:20px !important;}
.pt20{padding-top:20px !important;}
.pb20{padding-bottom:20px !important;}
.pt30{padding-top:30px !important;}
.pb30{padding-bottom:30px !important;}
.mt0{margin-top:0px !important;}
.pt0{padding-top:0px !important;}
.mb0{margin-bottom:0px !important;}
.pb0{padding-bottom:0px !important;}
.wrapper{min-height:100%;height:auto !important;height:100%;margin:0 auto;overflow:hidden;position:absolute;width:100%;}
.lc-popup{padding:10px 10px 10px 10px}
.lc-top{background-color:#e6e6e6;background-image:url(../gui/bg-top.gif);background-repeat:repeat-x;background-position:top left;}
.lc-top-holder{width:964px;padding:0px 4px 0px 4px;margin-left:auto;margin-right:auto;background-image:url(../gui/bg.png);background-repeat:repeat-y;background-position:top left;}
.lc-top-logo{float:left;padding:21px 0px 22px 20px;}
.lc-top-right{float:right;padding:25px 24px 0px 0px;text-align:right;}
.lc-top-phone{color:#32344d;font-size:24px;line-height:24px;}
.lc-top-phone-number{color:#d75e29;font-size:24px;line-height:24px;}
.lc-top-hours{color:#7b7b7b;font-size:11px;line-height:11px}
.lc-menu{margin:0px;padding:0px;border-top:1px solid #cfcfcf;background-image:url(../gui/bg-menu.gif);background-repeat:no-repeat;background-position:bottom;}
.lc-menu ul{margin:0px;padding:0px 0px 0px 11px;list-style:none}
.lc-menu li{margin:0px;padding:12px 13px 12px 13px;float:left;border-right:1px solid #cfcfcf;}
.lc-menu li.last{margin:0px;padding:12px 0px 12px 13px;float:left;border-right:none;}
.lc-menu a:link{color:#32344d;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a:visited{color:#32344d;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a:active{color:#32344d;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a:hover{color:#d75e29;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a.selected:link{color:#d75e29;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a.selected:visited{color:#d75e29;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a.selected:active{color:#d75e29;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-menu a.selected:hover{color:#d75e29;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none}
.lc-header{}
.lc-header-inner{height:113px;background-image:url(../gui/header/bg1.gif);background-repeat:repeat-x;background-position:top left;}
.lc-header-inner .header{margin:0px;padding:27px 0px 0px 10px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:26px;line-height:25px;color:#ffffff; background:inherit;}
.lc-header-inner h1{margin:0px;padding:27px 0px 0px 10px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:26px;line-height:25px;color:#ffffff; background:inherit}
.lc-header-inner-holder{width:964px;height:113px;margin-left:auto;margin-right:auto;background-image:url(../gui/header-inner.jpg);background-repeat:no-repeat;background-position:top left;}
.lc-content{background-color:#dcdcdc;background-image:url(../gui/bg-content.gif);background-repeat:repeat-x;background-position:top left;}
.lc-content-holder{width:964px;height:auto;min-height:400px;padding:0px 4px 0px 4px;margin-left:auto;margin-right:auto;background-image:url(../gui/bg.png);background-repeat:repeat-y;background-position:top left;}
.lc-content-wrapper{padding:25px 24px 15px 25px;background-image:url(../gui/bg-shaddow-content.gif);background-repeat:no-repeat;background-position:top;}
.lc-content-wrapper-inner{min-height:400px;padding:20px 24px 35px 20px;background-image:url(../gui/bg-shaddow-content.gif);background-repeat:no-repeat;background-position:top;padding-bottom:250px;}
.lc-content-left{width:217px;}
.lc-content-right{padding:0px 5px 0px 25px;}
.lc-content-right h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:30px;line-height:30px;color:#32344d;}
.lc-content-right h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-content-right p{margin:0px;padding:0px 0px 15px 0px;}
.lc-content-wide{padding:0px 0px 0px 4px;}
.lc-content-wide h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:30px;line-height:30px;color:#32344d;}
.lc-content-wide h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:19px;line-height:19px;color:#32344d;}
.lc-content-wide p{margin:0px;padding:0px 0px 15px 0px;}
.lc-blog-article{margin:0px 0px 13px 0px;padding:0px 0px 0px 0px;border-bottom:1px solid #d5d5d5}
.lc-blog-article-full{margin:0px 0px 5px 0px;padding:0px 0px 0px 0px;}
.lc-blog-article-title h2{margin:0px;padding-bottom:4px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-blog-article-title h2 a:link{text-decoration:none;margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-blog-article-title h2 a:visited{text-decoration:none;margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-blog-article-title h2 a:hover{text-decoration:none;margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-blog-article-content{}
.lc-blog-article-content p{margin:0px;padding:0px 0px 6px 0px}
.lc-blog-article-author{font-size:14px;color:#888888;padding:0px 0px 8px 0px;}
.lc-blog-article-post{color:#888888;padding:10px 0px 16px 0px;}
.lc-blog-article-comments{margin:0px;padding:12px 18px 16px 18px;font-size:14px;border:1px solid #d5d5d5}
.lc-blog-article-comments h2{border-bottom:1px solid #d8d8d8;margin-bottom:12px;padding-bottom:7px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:22px;line-height:22px;color:#32344d;}
.lc-blog-article-comments p{margin:0px;padding:4px 0px 6px 0px;}
.lc-blog-article-comments-button{text-align:right;margin-left:auto;margin-right:0px;padding:10px 0px 0px 0px;}
.lc-blog-article-comments-button img{margin-left:auto;margin-right:0px;}
.lc-blog-article-comment{font-size:12px;margin-bottom:10px;border:1px solid #d5d5d5;padding:10px 15px 15px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-blog-article-comment p{margin:0px;padding:4px 0px 6px 0px;}
.lc-blog-article-comment .avatar{padding:0px 0px 0px 58px;background-image:url(../gui/avatar.gif);background-repeat:no-repeat;background-position:0 7px;}
.lc-blog-article-comment-author{margin:0px;padding:0px 0px 0px 0px;color:#888888}
.lc-blog-article-comment-thankyou{margin:4px 0px 0px 0px;text-align:left;padding:4px 0px 22px 0px;}
.lc-blog-pagination{font-size:14px;}
.lc-blog-post-comment-left{float:left;width:120px}
.lc-blog-post-comment-right{float:left;width:514px}
.lc-blog-post-comment-right input{font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:14px;padding:6px;margin:5px 0px 0px 0px;color:#555555;text-decoration:none;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;border-right:1px solid #c8c8c8;background-color:#f5f5f5;}
.lc-blog-post-comment-pointer{position:absolute;margin-left:-34px;margin-top:14px;}
.lc-blog-post-comment-field{background-color:#f5f5f5;border:1px solid #c8c8c8;padding:4px;}
.lc-blog-post-comment-field textarea{background-color:transparent;border:none;}
.lc-side-badge{margin-bottom:10px;border:1px solid #d5d5d5;padding:10px 10px 15px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;font-size:14px;}
.lc-side-badge h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:21px;line-height:20px;color:#32344d;}
.lc-side-badge h2.lc-orange{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:21px;line-height:20px;color:#d75e29;}
.lc-side-box{margin-bottom:10px;border:1px solid #d5d5d5;padding:10px 15px 15px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-side-blog{font-size:14px;margin-bottom:10px;padding:5px 12px 0px 12px;}
.lc-side-blog h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#32344d;}
.lc-side-blog ul{list-style:none;margin:6px 0px 0px 0px;padding:6px 0px 9px 0px;border-top:1px solid #d5d5d5}
.lc-side-blog ul li{margin:0px;padding:0px 0px 0px 12px;background-image:url(../gui/bullet-arrow-wb.gif);background-repeat:no-repeat;background-position:0 4px;}
.lc-side-blog-search{font-size:14px;margin-bottom:10px;border:1px solid #d5d5d5;padding:10px 15px 15px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-side-blog-search h2{margin:0px;padding-bottom:5px;font-family:"Proxima Nova Semibold";font-weight:normal;font-size:20px;line-height:20px;color:#32344d;}
.lc-side-blog-search ul{list-style:none;margin:6px 0px 0px 0px;padding:6px 0px 9px 0px;border-top:1px solid #d5d5d5}
.lc-side-blog-search ul li{margin:0px;padding:0px 0px 0px 12px;background-image:url(../gui/bullet-arrow-wb.gif);background-repeat:no-repeat;background-position:0 4px;}
.lc-side-features{margin-bottom:10px;border:1px solid #d5d5d5;padding:6px 15px 7px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-side-features ul{list-style:none;margin:0px;padding:0px;font-size:16px;line-height:18px;color:#32344d;}
.lc-home-box-one #icon, .icon-left-one{background-image:url(../gui/icon-sidebar.png) !important;background-repeat:no-repeat;background-position:0 0px; float:left; width:38px; height:38px; margin-right:10px;}
.lc-home-box-two #icon, .icon-left-two{background-image:url(../gui/icon-sidebar.png) !important;background-repeat:no-repeat;background-position:-38px 0px; float:left;  width:38px; height:38px; margin-right:10px;}
.lc-home-box-three #icon, .icon-left-three{background-image:url(../gui/icon-sidebar.png) !important;background-repeat:no-repeat;background-position:-76px 0px; float:left;  width:38px; height:38px; margin-right:10px;}
.lc-home-box-four #icon, .icon-left-four{background-image:url(../gui/icon-sidebar.png) !important;background-repeat:no-repeat;background-position:-114px 0px; float:left;  width:38px; height:38px; margin-right:10px;}
.lc-side-features li.one{margin:0px;padding:8px 0px 8px 0px;border-bottom:1px solid #d5d5d5; background:none}
.lc-side-features li.two{margin:0px;padding:8px 0px 8px 0px;border-bottom:1px solid #d5d5d5; background:none}
.lc-side-features li.three{margin:0px;padding:8px 0px 8px 0px;border-bottom:1px solid #d5d5d5; background:none}
.lc-side-features li.four{margin:0px;padding:8px 0px 8px 0px;border-bottom:none; background:none}
/*.lc-side-features li.one{margin:0px;padding:8px 0px 8px 48px;border-bottom:1px solid #d5d5d5;background-image:url(../gui/icon-one.png);background-repeat:no-repeat;background-position:left;}
.lc-side-features li.two{margin:0px;padding:8px 0px 8px 48px;border-bottom:1px solid #d5d5d5;background-image:url(../gui/icon-two.png);background-repeat:no-repeat;background-position:left;}
.lc-side-features li.three{margin:0px;padding:8px 0px 8px 48px;border-bottom:1px solid #d5d5d5;background-image:url(../gui/icon-three.png);background-repeat:no-repeat;background-position:left;}
.lc-side-features li.four{margin:0px;padding:8px 0px 8px 48px;border-bottom:none;background-image:url(../gui/icon-four.png);background-repeat:no-repeat;background-position:left;}*/
.lc-side-features a{color:#313351 !important;text-decoration:none;}
.lc-side-features a:hover{color:#1e89ad !important;text-decoration:none;}
.lc-side-menu{margin-bottom:10px;border:1px solid #d5d5d5;}
.lc-side-menu a:link{font-size:14px;color:#32344d;text-decoration:none}
.lc-side-menu a:visited{font-size:14px;color:#32344d;text-decoration:none}
.lc-side-menu a:active{font-size:14px;color:#32344d;text-decoration:none}
.lc-side-menu a:hover{font-size:14px;color:#d75e29;text-decoration:none}
.lc-side-menu a.selected:link{font-size:14px;color:#d75e29;text-decoration:none}
.lc-side-menu a.selected:visited{font-size:14px;color:#d75e29;text-decoration:none}
.lc-side-menu a.selected:active{font-size:14px;color:#d75e29;text-decoration:none}
.lc-side-menu a.selected:hover{font-size:14px;color:#d75e29;text-decoration:none}
.lc-side-menu h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#32344d;}
.lc-side-menu ul{list-style:none;margin:0px;padding:0px;}
.lc-side-menu li{margin:0px;padding:6px 12px 6px 11px;border-bottom:1px solid #d5d5d5}
.lc-side-menu li.last{margin:0px;padding:6px 12px 6px 11px;border-bottom:none}
.lc-side-menu li.header{margin:0px;padding:6px 12px 8px 11px;border-bottom:1px solid #d5d5d5;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-side-guarantee{margin-bottom:10px;border:1px solid #d5d5d5;padding:10px 10px 15px 15px;background-image:url(../gui/box-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-side-guarantee-holder{padding-top:4px;background-image:url(../gui/icon-guarantee.png);background-repeat:no-repeat;background-position:right;}
.lc-side-guarantee h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:21px;line-height:20px;color:#32344d;}
.lc-side-guarantee h2.lc-orange{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:24px;line-height:23px;color:#d75e29;}
.lc-side-guarantee .titleLeft{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:21px;line-height:20px;color:#32344d;}
.lc-side-guarantee .titleLeftorange{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:24px;line-height:23px;color:#d75e29;}

.lc-contact-one{width:180px;padding:0px 20px 0px 0px;border-right:1px solid #d5d5d5;font-size:14px;}
.lc-contact-one a:link{color:#2390b5;text-decoration:none;}
.lc-contact-one a:visited{color:#2390b5;text-decoration:none;}
.lc-contact-one a:active{color:#2390b5;text-decoration:none;}
.lc-contact-one a:hover{color:#2390b5;text-decoration:underline;}
.lc-contact-two{width:180px;padding:0px 20px 0px 20px;border-right:1px solid #d5d5d5}
.lc-contact-two a:link{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-two a:visited{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-two a:active{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-two a:hover{font-size:14px;color:#2390b5;text-decoration:underline;}
.lc-contact-three{padding:0px 0px 0px 20px;}
.lc-contact-three a:link{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-three a:visited{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-three a:active{font-size:14px;color:#2390b5;text-decoration:none;}
.lc-contact-three a:hover{font-size:14px;color:#2390b5;text-decoration:underline;}
.lc-sitemap-col{font-size:14px;padding:0px 10px 0px 17px;border-right:1px solid #d5d5d5;}
.lc-sitemap-colf{font-size:14px;padding:0px 0px 0px 17px;}
.lc-tabs{background-image:url(../gui/tab-margin.gif);background-repeat:no-repeat;background-position:top left;margin-top:5px;}
.lc-tabs-holder{margin-left:1px;padding-right:1px;background-image:url(../gui/tab-margin.gif);background-repeat:no-repeat;background-position:top right;}
.lc-tab-off{height:75px;cursor:pointer;color:#32344d;text-align:center;background-image:url(../gui/tab-off.gif);background-repeat:repeat-x;background-position:top left;}
.lc-tab-off a:link{color:#32344d;text-decoration:none;outline:none}
.lc-tab-off a:visited{color:#32344d;text-decoration:none;}
.lc-tab-off a:active{color:#32344d;text-decoration:none;}
.lc-tab-off a:hover{color:#d75e29;text-decoration:none;}
.lc-tab-on{height:75px;cursor:pointer;color:#d75e29;text-align:center;background-image:url(../gui/tab-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-tab-on a:link{color:#d75e29;text-decoration:none;outline:none}
.lc-tab-on a:visited{color:#d75e29;text-decoration:none;}
.lc-tab-on a:active{color:#d75e29;text-decoration:none;}
.lc-tab-on a:hover{color:#d75e29;text-decoration:none;}
.lc-tab-holder{height:41px;padding-top:21px;font-size:16px;background-image:url(../gui/tab-margin.gif);background-repeat:no-repeat;background-position:top right;}
.lc-tab-holder-last{height:41px;padding-top:21px;font-size:16px;}
.lc-box{border:1px solid #d5d5d5;padding:15px 18px 20px 18px;}
.lc-box table{margin-left:auto;margin-right:auto;}
.lc-box-header{margin:0px;padding:8px 12px 10px 11px;border-top:1px solid #d5d5d5;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:bottom left;}
.lc-box-header h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:18px;line-height:18px;color:#32344d;}
.lc-form{font-size:14px;}
.lc-form-buttons{margin-top:13px;padding:12px 0px 0px 0px;border-top:1px solid #d5d5d5;text-align:right}
.lc-form-buttons img{margin-left:auto;margin-right:0px;}
.lc-form-thankyou{text-align:center;font-size:14px;padding:40px 50px 40px 50px}
.lc-form-thankyou-message{color:#d75e29;background-image:url(../gui/bullet-check-wb.gif);background-repeat:no-repeat;background-position:left -1px;padding-left:25px;}
.lc-form-note{padding:5px 0px 0px 0px;margin-bottom:13px;text-align:center;font-size:13px;border-bottom:1px solid #d5d5d5}
.lc-form-add{border-top:1px solid #d5d5d5;padding-top:10px;margin-top:12px}
.lc-form-total{padding:2px 0px 2px 0px;font-size:14px;}
.lc-thankyou-box{font-size:14px;padding:20px 20px 20px 20px;border:1px solid #ffd387;background-color:#ffe9c3;background-image:url(../gui/bg-thankyou.jpg);background-repeat:repeat-x;background-position:top right}
.lc-thankyou-box h2{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ffd387;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#d75e29;}
.lc-table{background-color:#d5d5d5}
.lc-table td{background-color:#ffffff;padding:5px 5px 5px 5px;font-size:14px;text-align:center}
.lc-table-header{margin:0px;font-size:14px;color:#32344d;font-weight:bold;padding:9px 12px 11px 11px;background-color:#f2f2f2;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:bottom left;text-align:center}
.lc-home-box-one{width:280px;padding:0px 20px 0px 0px;border-right:1px solid #d5d5d5;}
.lc-home-box-one h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;padding-left:10px; float:left; background-image:none !important}
.lc-home-box-one #icon, .lc-home-box-one .icon{background-image:url(../gui/icon-home.gif) !important;background-repeat:no-repeat;background-position:0 4px; float:left; width:47px; height:50px;}
.lc-home-box-one h2 a{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;}
.lc-home-box-one p{margin:0px;padding:0px 0px 3px 0px;}
.lc-home-box-two{padding:0px 20px 0px 20px;border-right:1px solid #d5d5d5;}
.lc-home-box-two h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;padding-left:10px; float:left; background-image:none !important}
.lc-home-box-two #icon, .lc-home-box-two .icon{background-image:url(../gui/icon-home.gif) !important;background-repeat:no-repeat;background-position:-46px 4px; float:left; width:47px; height:50px;}
.lc-home-box-two h2 a{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;}
.lc-home-box-two p{margin:0px;padding:0px 0px 3px 0px;}
.lc-home-box-three{width:280px;padding:14px 20px 0px 0px;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
.lc-home-box-three h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;padding-left:10px; float:left; background-image:none !important}
.lc-home-box-three #icon, .lc-home-box-three .icon{background-image:url(../gui/icon-home.gif) !important;background-repeat:no-repeat;background-position:-94px 4px; float:left; width:47px; height:50px;}
.lc-home-box-three h2 a{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;}
.lc-home-box-three p{margin:0px;padding:0px 0px 3px 0px;}
.lc-home-box-four{padding:14px 20px 0px 20px;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
.lc-home-box-four h2{margin:0px;padding-bottom:6px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d; background-image:none !important; padding-left:58px;}
.lc-home-box-four #icon, .lc-home-box-four .icon{background-image:url(../gui/icon-home.gif) !important;background-repeat:no-repeat;background-position:-143px 4px; float:left; width:47px; height:50px;}
.lc-home-box-four h2 a{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;}
.lc-home-box-four p{margin:0px;padding:0px 0px 3px 0px;}
.lc-home-box-spacer{height:20px;}
.lc-home-box-spacer1{height:25px;}
.lc-home-side-box{margin-left:20px;padding:0px 0px 0px 0px;border-bottom:1px solid #d5d5d5;}
.lc-home-side-box h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:31px;line-height:30px;color:#32344d;}
.lc-home-side-box h2.lc-orange{margin:0px;padding-bottom:7px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:31px;line-height:30px;color:#d75e29;}
.lc-home-side-box p{margin:0px;padding:0px 0px 15px 0px;}
.lc-home-side-box1{margin-left:20px;padding:15px 0px 10px 0px;}
.lc-home-side-box1 h2{margin:0px;padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:23px;line-height:23px;color:#32344d;}
.lc-home-side-box1 p{margin:0px;padding:0px 0px 6px 0px;}
.lc-logos{padding:0px 0px 0px 0px;border-top:1px solid #d5d5d5;}
.lc-feature-left{width:300px;padding:14px 18px 0px 0px;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5}
.lc-feature-left p{margin:0px;padding:0px;}
.lc-feature-right{padding:14px 0px 0px 18px;border-top:1px solid #d5d5d5;}
.lc-feature-right p{margin:0px;padding:0px;}
.lc-feature-leftf{width:300px;padding:0px 18px 0px 0px;border-right:1px solid #d5d5d5}
.lc-feature-leftf p{margin:0px;padding:0px;}
.lc-feature-rightf{padding:0px 0px 0px 15px;}
.lc-feature-rightf p{margin:0px;padding:0px;}
.lc-feature-spacer{height:18px;}
.lc-bar{padding:14px 15px 14px 15px;border:1px solid #d5d5d5;background-image:url(../gui/bg-service-bar.gif);background-repeat:repeat-x;background-position:top left;}
.lc-bar h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:17px;line-height:17px;color:#32344d;}
.lc-order-title h2{margin:0px;padding-bottom:11px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:18px;line-height:18px;color:#32344d;}
.lc-order-left{width:330px;padding:14px 20px 0px 0px;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
.lc-order-right{padding:14px 0px 0px 20px;border-top:1px solid #d5d5d5;}
.lc-order-single{padding:14px 0px 0px 0px;border-top:1px solid #d5d5d5;}
.lc-cc-logos{margin-top:5px;margin-bottom:5px;padding:10px 0px 10px 0px;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
.lc-terms-box{font-size:14px;text-align:right;padding:8px 0px 0px 0px;}
.lc-services{background-color:#d5d5d5}
.lc-service-title{background-color:#ffffff;padding:7px 0px 7px 0px;text-align:center;}
.lc-service-title h2{margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:16px;line-height:16px;color:#32344d;}
.lc-service{background-color:#ffffff;margin:0px;padding:0px;background-image:url(../gui/bg-services-logo.gif);background-repeat:repeat-x;background-position:top left;}
.lc-service img{margin-left:auto;margin-right:auto}
.lc-service-logo{text-align:center;}
.lc-box-option{border:1px solid #d5d5d5;padding:15px 18px 20px 18px;font-size:14px;}
.lc-box-option p{border-bottom:1px solid #d5d5d5;padding:0px 0px 6px 0px;margin-bottom:6px;}
.lc-box-error{border:1px solid #cc0000;padding:10px 10px 10px 10px;font-size:14px;line-height:20px;margin-bottom:10px;}
.lc-box-error ul{margin:0px;padding:0px;list-style:none}
.lc-box-error ul li{padding-left:22px;color:#cc0000;background-image:url(../gui/note.png);background-repeat:no-repeat;background-position:0 2px;}
.lc-service-overlay1{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay2{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay3{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay4{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay5{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay6{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay7{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay8{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay9{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay10{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-overlay11{cursor:pointer;position:absolute;height:146px;width:134px;margin:0px;padding:0px;text-align:center;background-image:url(../gui/bg-services-on.gif);background-repeat:no-repeat;background-position:top;}
.lc-service-price{padding-top:14px;font-size:30px;color:#ffffff;line-height:30px; background:inherit}
.lc-service-price-info{height:55px;font-size:18px;color:#ffffff;line-height:19px; background:inherit}
.lc-service-price1{font-size:30px;color:#d75e29;line-height:30px;}
.lc-service-price1-info{font-size:16px;color:#222222;line-height:16px;}
.lc-service-price2-info{height:28px;font-size:12px;color:#ffffff;line-height:14px; background:inherit}
.lc-service-info{font-size:14px;width:280px;padding:0px 30px 14px 0px;}
.lc-service-info p{margin:0px;padding:0px 0px 10px 0px;}
.lc-service-screen{width:320px;border:1px solid #bcbcbc}
.lc-service-order{padding:14px 0px 15px 0px;background-image:url(../gui/bg-service-shaddow.png);background-repeat:no-repeat;background-position:top;}
.lc-footer{background-image:url(../gui/bg-footer.gif);background-repeat:repeat-x;background-position:top left;color:#ffffff;position:absolute;bottom:0;width:100%;background:inherit}
.lc-footer-holder{width:944px;margin-left:auto;margin-right:auto;padding:20px 10px 30px 10px;background-image:url(../gui/bg-footer.jpg);background-repeat:no-repeat;background-position:top;}
.lc-footer h2{margin:0px;padding-bottom:8px;border-bottom:1px solid #5a5c77;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:17px;line-height:17px;color:#ffffff;background:inherit}
.lc-footer ul{margin:0px;padding:6px 0px 0px 0px;list-style:none}
.lc-footer li{margin:0px;padding:0px 0px 0px 0px;}
.lc-footer p{margin:0px;padding:6px 0px 8px 0px;}
.lc-footer a:link{color:#b1b5d7;text-decoration:none}
.lc-footer a:visited{color:#b1b5d7;text-decoration:none}
.lc-footer a:active{color:#b1b5d7;text-decoration:none}
.lc-footer a:hover{color:#b1b5d7;text-decoration:underline}
.lc-footer-one{float:left;width:210px;padding-right:26px}
.lc-footer-two{float:left;width:210px;padding-right:26px}
.lc-footer-three{float:left;width:210px;padding-right:26px}
.lc-footer-four{float:left;width:235px;}
.lc-footer-logo{float:right;padding:0px 0px 0px 0px;}
.lc-footer-social-icon{padding:0px 8px 0px 0px;}
.lc-copyright{border-top:1px solid #75799d;margin-top:14px;padding:10px 0px 0px 0px}
.lc-copyright a:link{color:#ffffff;text-decoration:none;background:inherit}
.lc-copyright a:visited{color:#ffffff;text-decoration:none;background:inherit}
.lc-copyright a:active{color:#ffffff;text-decoration:none;background:inherit}
.lc-copyright a:hover{color:#ffffff;text-decoration:underline;background:inherit}
.lc-copyright-separator{color:#b1b5d7;}
.lc-paypal{padding:11px 0px 32px 0px;text-align:center}
.lc-paypal img{margin-left:auto;margin-right:auto;}
.lc-float-left{float:left;}
.lc-float-right{float:right;}
.lc-clear{clear:both;}
.lc-spacer{height:10px;}
.lc-spacer4{height:6px;}
.lc-spacer26{height:26px;}
.lc-required{font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:14px;color:#cc0000;text-decoration:none;line-height:17px;}
.lc-input{font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:14px;padding:4px;margin:0px;color:#555555;text-decoration:none;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;border-right:1px solid #c8c8c8;background-color:#f5f5f5;}
.lc-input1{font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:14px;padding:4px;margin:0px;color:#555555;text-decoration:none;border-top:1px solid #c8c8c8;border-left:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;border-right:1px solid #c8c8c8;background-color:#ffffff;}
.lc-list{margin:0px 0px 4px 0px;padding:0px 0px 7px 2px;list-style:none;line-height:19px;}
.lc-list li{padding-left:11px;background-image:url(../gui/bullet.gif);background-repeat:no-repeat;background-position:0px 8px;}
.lc-list1{margin:0px 0px 4px 0px;padding:0px 0px 7px 2px;list-style:none;line-height:19px;}
.lc-list1 li{padding-left:22px;background-image:url(../gui/bullet.gif);background-repeat:no-repeat;background-position:10px 8px;}
.lc-list2{margin:0px 0px 4px 0px;padding:0px 0px 7px 2px;list-style:none;line-height:19px;}
.lc-list2 li{padding-left:12px;background-image:url(../gui/bullet.gif);background-repeat:no-repeat;background-position:0px 8px;margin-left:25px;}
.lc-list-check{margin:0px 0px 4px 0px;padding:0px 0px 9px 10px;list-style:none;font-size:14px;line-height:21px;}
.lc-list-check li{padding-left:26px;background-image:url(../gui/bullet-check-wb.gif);background-repeat:no-repeat;background-position:0px 1px;}
.lc-list-check1{margin:0px 0px 4px 0px;padding:0px 0px 9px 0px;list-style:none;font-size:14px;line-height:21px;}
.lc-list-check1 li{padding-left:26px;background-image:url(../gui/bullet-check-wb.gif);background-repeat:no-repeat;background-position:0px 1px;}
.lc-list-arrow{margin:0px 0px 4px 0px;padding:0px 0px 0px 0px;list-style:none;font-size:14px;line-height:22px;}
.lc-list-arrow li{padding-left:14px;background-image:url(../gui/bullet-arrow-wb.gif);background-repeat:no-repeat;background-position:0px 6px;}
#faq .accTogglerOpen{border-top:1px solid #d5d5d5;padding-top:7px;padding-left:5px;padding-right:45px;padding-bottom:6px;display:block;margin:0;cursor:pointer;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#d65e2a;font-weight:normal;background-color:#ffffff;background-image:url(../gui/faq-close.png);background-repeat:no-repeat;background-position:top right;}
#faq .accToggler{border-top:1px solid #d5d5d5;padding-top:7px;padding-left:5px;padding-right:45px;padding-bottom:6px;display:block;margin:0px 0px 4px 0px;cursor:pointer;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#2390b5;font-weight:normal;background-color:#ffffff;background-image:url(../gui/faq-open.png);background-repeat:no-repeat;background-position:top right;}
#faq .accContent{width:600px;margin:0px;padding:0px 10px 4px 5px;}
#faq .accContent p{width:600px;margin:0px;padding:0px 0px 12px 0px;}
#lc-slideshow{width:100%;height:328px;z-index:11;text-align:center;}
#lc-slideshownavh{width:100%;position:absolute;z-index:999;margin-top:278px;}
#lc-slideshownav{margin:0px;padding:0px;list-style:none}
#lc-slideshownav li{float:left;margin:0px;list-style:none;color:#ffffff; background:inherit}
#lc-slideshownav li.first{float:left;margin:0px;list-style:none;color:#ffffff;border-left:1px solid #5a5c77; background:inherit}
#lc-slideshownav li:hover{}
#lc-slideshownav a{display:block;outline:none;height:35px;border-right:1px solid #5a5c77;padding:15px 20px 0px 20px;font-size:17px;line-height:17px;color:#ffffff;text-decoration:none;background-image:url(../gui/header/bg-tabs.gif);background-repeat:repeat-x;background-position:top left; background:inherit}
#lc-slideshownav a.activeSlide{display:block;outline:none;height:35px;border-right:1px solid #5a5c77;padding:15px 20px 0px 20px;font-size:17px;line-height:17px;color:#ffffff;text-decoration:none;background-image:none; background:inherit}
#lc-slideshownav img{border:none;}
.lc-slideshownavbg{background-image:url(../gui/header/bg-tabs.gif);background-repeat:repeat-x;background-position:top left;}
.lc-slideshownavbgm{width:963px;background-image:url(../gui/header/bg-tabs1.gif);background-repeat:no-repeat;background-position:top right;}
.lc-slide1{width:100%;height:328px;background-image:url(../gui/header/bg1.gif);background-repeat:repeat-x;background-position:top left;text-align:center}
.lc-slide1 img{margin-left:auto;margin-right:auto;}
.lc-slide2{width:100%;height:328px;background-image:url(../gui/header/bg2.gif);background-repeat:repeat-x;background-position:top left;text-align:center}
.lc-slide2 img{margin-left:auto;margin-right:auto;}
.lc-slide3{width:100%;height:328px;background-image:url(../gui/header/bg3.gif);background-repeat:repeat-x;background-position:top left;text-align:center}
.lc-slide3 img{margin-left:auto;margin-right:auto;}
.lc-slide4{width:100%;height:328px;background-image:url(../gui/header/bg4.gif);background-repeat:repeat-x;background-position:top left;text-align:center}
.lc-slide4 img{margin-left:auto;margin-right:auto;}
.lc-slide-left{padding:22px 0px 0px 14px}
.lc-slide-right{padding:0px 10px 0px 0px;text-align:right}
.lc-slide-right-button{float:right;padding:0px 0px 0px 0px}
.lc-slide-tag{padding:110px 0px 12px 0px}
.lc-slide-one{width:964px;height:328px;margin-left:auto;margin-right:auto;text-align:left; background-image:url("../gui/header/bg-slides.jpg"); background-repeat:no-repeat; background-position:top left;}
.lc-slide-one h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:42px;line-height:42px;color:#ffffff; background:inherit}
.lc-slide-one h2{text-align:right;margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-one h2.lc-price-big{text-align:right;margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:36px;line-height:36px;color:#ffffff; background:inherit}
.lc-slide-one p.ex-h2{text-align:right;margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-one p.h2-h2.lc-price-big{text-align:right;margin:0px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:36px;line-height:36px;color:#ffffff; background:inherit}
.lc-slide-one ul{margin:0px 0px 4px 0px;padding:0px 0px 9px 0px;list-style:none;font-size:16px;line-height:21px;color:#ffffff;margin-top:13px; background:inherit}
.lc-slide-one li{padding-left:26px;background-image:url(../gui/bullet-check.png);background-repeat:no-repeat;background-position:0px 3px;}
.lc-slide-two{width:964px;height:328px;margin-left:auto;margin-right:auto;text-align:left; background-image:url("../gui/header/bg-slides.jpg"); background-repeat:no-repeat; background-position:0px -328px;}
.lc-slide-two h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:42px;line-height:42px;color:#ffffff; background:inherit}
.lc-slide-two h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-two p.ex-h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:42px;line-height:42px;color:#ffffff; background:inherit}
.lc-slide-two p.ex-h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-two ul{margin:0px 0px 4px 0px;padding:0px 0px 9px 0px;list-style:none;font-size:14px;line-height:21px;color:#ffffff;margin-top:13px; background:inherit}
.lc-slide-two li{padding-left:26px;background-image:url(../gui/bullet-check.png);background-repeat:no-repeat;background-position:0px 4px;}
.lc-slide-three{width:964px;height:328px;margin-left:auto;margin-right:auto;text-align:left; background-image:url("../gui/header/bg-slides.jpg"); background-repeat:no-repeat; background-position:0px -656px;}
.lc-slide-three h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:42px;line-height:42px;color:#ffffff; background:inherit}
.lc-slide-three h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-three p.ex-h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-three ul{margin:0px 0px 4px 0px;padding:0px 0px 9px 0px;list-style:none;font-size:14px;line-height:21px;color:#ffffff;margin-top:13px; background:inherit}
.lc-slide-three li{padding-left:26px;background-image:url(../gui/bullet-check.png);background-repeat:no-repeat;background-position:0px 3px;}
.lc-slide-four{width:964px;height:328px;margin-left:auto;margin-right:auto;text-align:left; background-image:url("../gui/header/bg-slides.jpg"); background-repeat:no-repeat; background-position:0px -984px;}
.lc-slide-four h1{margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:42px;line-height:42px;color:#ffffff; background:inherit}
.lc-slide-four h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-four ex-h2{text-align:right;margin:0px;padding-bottom:8px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:20px;line-height:20px;color:#ffffff; background:inherit}
.lc-slide-four ul{margin:0px 0px 4px 0px;padding:0px 0px 9px 0px;list-style:none;font-size:14px;line-height:21px;color:#ffffff;margin-top:13px; background:inherit}
.lc-slide-four li{padding-left:26px;background-image:url(../gui/bullet-check.png);background-repeat:no-repeat;background-position:0px 3px;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
.lc-header-inner .header{margin:0px;padding:27px 0px 0px 10px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;font-size:26px;line-height:25px;color:#ffffff; background:inherit;}
#cboxContent{position:relative;overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxOverlay{background:url(../gui/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px;height:21px;background:url(../gui/colorbox/controls.png) no-repeat -100px 0;}
#cboxTopRight{width:21px;height:21px;background:url(../gui/colorbox/controls.png) no-repeat -129px 0;}
#cboxBottomLeft{width:21px;height:21px;background:url(../gui/colorbox/controls.png) no-repeat -100px -29px;}
#cboxBottomRight{width:21px;height:21px;background:url(../gui/colorbox/controls.png) no-repeat -129px -29px;}
#cboxMiddleLeft{width:21px;background:url(../gui/colorbox/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px;background:url(../gui/colorbox/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px;background:url(../gui/colorbox/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px;background:url(../gui/colorbox/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; }
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#949494;}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494;}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef;}
#cboxPrevious{position:absolute;bottom:0;left:0px;background:url(../gui/colorbox/controls.png) no-repeat -75px 0px;width:25px;height:25px;text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute;bottom:0;left:27px;background:url(../gui/colorbox/controls.png) no-repeat -50px 0px;width:25px;height:25px;text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(../gui/colorbox/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../gui/colorbox/loading.gif) no-repeat center center;}
#cboxClose{position:absolute;bottom:0;right:0;background:url(../gui/colorbox/controls.png) no-repeat -25px 0px;width:25px;height:25px;text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}
/*.cboxIE #cboxTopLeft{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../gui/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}*/
.faqpage{/*word-wrap:break-word;*/width:500px !important;background:#696973 url(../gui/codeshine.png) no-repeat;border-bottom-left-radius:10px 10px;border-bottom-right-radius:10px 10px;border-top-left-radius:10px 10px;border-top-right-radius:10px 10px;color:white;font-size:12px;font-weight:normal !important;margin:0px 15px 20px;overflow:auto;padding:30px;}
.compare .odd td{background:#f1f1f1;padding:8px;}
.compare .even td{background:#dfdfdf;padding:10px;}
.compare .feature{font-weight:bold;}
.image-carousel{position:relative;z-index:9;margin-bottom:20px;}
.image-carousel small{font-size:10px;text-transform:uppercase;margin-top:4px;margin-bottom:4px;}
.scrollable{position:relative;overflow:hidden;width:100%;height:128px;border:1px solid #dbdbdb;}
.scrollable .items{width:20000em;position:absolute;clear:both;}
.items div{float:left;width:700px;padding-left:12px;padding-right:10px;}
.scrollable img{float:left;margin:20px 0px 20px 10px;background-color:#fff;padding:2px;border:1px solid #ccc;width:115px;height:80px;}
.items div a:hover img{border:1px solid #3d84c5;}
.scrollable .active{border:2px solid #3d84c5;position:relative;cursor:default;}
.scrollable{float:left;}
a.browse{background:url(../gui/hori_large.png) no-repeat;display:block;width:30px;height:30px;margin:40px 10px;cursor:pointer;font-size:1px;}
a.right{background-position:0 -30px;clear:right;margin-right:0px;position:absolute;top:10px;right:-18px;z-index:100;}
a.right:hover{background-position:-30px -30px;}
a.right:active{background-position:-60px -30px;}
a.left{margin-left:0px;position:absolute;top:10px;left:-15px;z-index:100;}
a.left:hover{background-position:-30px 0;}
a.left:active{background-position:-60px 0;}
a.disabled{visibility:hidden !important;}
.list_carousel{border:1px solid #d5d5d5;margin:0px 0px 10px 0px;padding:0px;width:669px;position:relative;overflow:hidden;}
.list_item{color:#666;text-align:center;border-right:1px solid #d5d5d5;width:133px;padding:0px 0px 0px 0px;float:left;text-align:center;cursor:pointer;}
.list_item_logo{background:url(../gui/bg-services-logo1.gif) repeat-x top left;text-align:center;}
.list_item_logo img{margin-left:auto;margin-right:auto;}
.list_item img{margin-left:auto;margin-right:auto;}
.overlay{position:absolute;background:url(../gui/bg-services-on.gif) no-repeat top left;top:0px;width:134px;height:110px;margin-top:31px;text-align:center;}
.overlay img{margin-left:auto;margin-right:auto;}
.clearfix{float:none;clear:both;}
.service-tabs{background:url(../gui/tab-bottom.gif) repeat-x bottom left;margin-bottom:14px;}
.service-tab-off{cursor:pointer;float:left;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;margin-right:5px;height:33px;overflow:hidden;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:top left;}
.service-tab-off h2{font-size:20px;line-height:22px;padding:0px 0px 13px 0px;margin:0px;}
.service-tab-off p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 0px;margin:0px;}
.service-tab-on{cursor:pointer;float:left;background-color:#ffffff;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;height:33px;overflow:hidden;margin-right:5px;}
.service-tab-on h2{font-size:20px;line-height:22px;padding:0px 0px 13px 19px;background:url(../gui/arrow-down.png) no-repeat 0 4px;margin:0px;}
.service-tab-on p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 19px;background:url(../gui/arrow-down.png) no-repeat 0 4px;margin:0px;}
.service-tab-windows-off{cursor:pointer;float:left;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;margin-right:5px;height:33px;overflow:hidden;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:top left;}
.service-tab-windows-on{cursor:pointer;float:left;background-color:#ffffff;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;height:33px;overflow:hidden;margin-right:5px;}
.service-tab-windows-off h2{font-size:20px;line-height:22px;padding:0px 0px 13px 36px;background:url(../gui/icon-windows.png) no-repeat 0 0px;margin:0px;}
.service-tab-windows-off p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 36px;background:url(../gui/icon-windows.png) no-repeat 0 0px;margin:0px;}
.service-tab-windows-on h2{font-size:20px;line-height:22px;padding:0px 0px 13px 36px;background:url(../gui/icon-windows.png) no-repeat 0 0px;margin:0px;}
.service-tab-windows-on p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 36px;background:url(../gui/icon-windows.png) no-repeat 0 0px;margin:0px;}
.service-tab-linux-off{cursor:pointer;float:left;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;margin-right:5px;height:33px;overflow:hidden;background-image:url(../gui/box-header-bg.gif);background-repeat:repeat-x;background-position:top left;}
.service-tab-linux-on{cursor:pointer;float:left;background-color:#ffffff;border-left:1px solid #d5d5d5;border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:8px 20px 0px 15px;height:33px;overflow:hidden;margin-right:5px;}
.service-tab-linux-off h2{font-size:20px;line-height:22px;padding:0px 0px 13px 28px;background:url(../gui/icon-linux.png) no-repeat 0 0px;margin:0px;}
.service-tab-linux-off p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 28px;background:url(../gui/icon-linux.png) no-repeat 0 0px;margin:0px;}
.service-tab-linux-on p.ex-h2{font-size:20px;line-height:22px;padding:0px 0px 13px 28px;background:url(../gui/icon-linux.png) no-repeat 0 0px;margin:0px;}
.service-tab-linux-on h2{font-size:20px;line-height:22px;padding:0px 0px 13px 28px;background:url(../gui/icon-linux.png) no-repeat 0 0px;margin:0px;}
#preva, #prevb{background:url(../gui/car-prev-off.png) no-repeat top left;position:absolute;display:block;width:21px;height:21px;margin-top:-90px;margin-left:-10px;outline:none;}
#preva:hover, #prevb:hover{background:url(../gui/car-prev.png) no-repeat top left;position:absolute;display:block;width:21px;height:21px;margin-top:-90px;margin-left:-10px;outline:none;}
#nexta, #nextb{background:url(../gui/car-next-off.png) no-repeat top left;position:absolute;display:block;width:21px;height:21px;margin-top:-90px;margin-left:662px;outline:none;}
#nexta:hover, #nextb:hover{background:url(../gui/car-next.png) no-repeat top left;position:absolute;display:block;width:21px;height:21px;margin-top:-90px;margin-left:662px;outline:none;}
p.mh1{color:white;font-size:38px;padding:0px 0px 0px 0px;font-style:inherit; background:inherit}
div.mh1{color:white;font-size:42px;padding:0px 0px 0px 0px;font-style:inherit;margin-top:5px; background:inherit}
.lc-box-alert { border:1px solid #D75E29; padding:10px 10px 10px 10px; font-size:14px; line-height:20px; list-style:none; margin-bottom:10px; padding-left:28px; color:#D75E29; background-image: url(../gui/alert.jpg); background-repeat: no-repeat; background-position: 6px 12px; }

.social-icons{background-image:url(http://content.licensecube.com/_include/gui/social-icons.png) ;background-repeat:no-repeat;}
.social-icon-share{ width:30px; height:29px; background-position:0px 0px; }	
.social-icon-face{ width:30px; height:29px; background-position:-29px 0px; }	
.social-icon-twitter{ width:29px; height:29px; background-position:-58px 0px; }	
.social-icon-youtube{ width:29px; height:29px; background-position:-87px 0px; }	
.social-icon-rss{ width:30px; height:29px; background-position:-118px 0px; }